.form-div{
    margin-top: 20px;
    width: 400px;
    margin: auto;
    padding: 10px;
    height: 500px;
    box-shadow: 0px 2px 3px #ddd;

}
.btn{
    background-color: blue;
    color: #fff;
    margin: auto;
}